.card {
  display: flex;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #D9DAE3;
  background: #FFFFFF;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #E55065;
}

.card-container {
  display: flex;
  gap: 25px;
  width: 100%;
}

.card-read {
  background: #F2F2F2;
}

.card-short-description {
  padding: 10px 0px;
}
