.card {
  display: flex;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #D9DAE3;
  background: #FFFFFF;
  cursor: pointer;
}

.card-loading {
  display: flex;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #D9DAE3;
  background: #FFFFFF;
  cursor: default;
}

.card:hover {
  border: 1px solid #E55065;
  background: #f2f2f284;
}

.card-container {
  display: flex;
  gap: 25px;
  width: 100%;
}

.card-selected {
  border: 1px solid #E55065;
  box-shadow: #E55065 2.4px 2.4px 3.2px;
}

.card-selected:hover {
  background: #F2F2F2;
}

.card-read {
  background: #F2F2F2;
}

.card-footer {
  display: flex;
  gap: 35px;
}